--
-- PostgreSQL database cluster dump
--

\restrict 46FjPcU3r28qbeIb21SL6qdiPPh0P8fJlNc3KYphsD2Z4M9Muxkjg263iNOWUfJ

SET default_transaction_read_only = off;

SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;

--
-- Drop databases (except postgres and template1)
--

DROP DATABASE etap_final_db;




--
-- Drop roles
--

DROP ROLE postgres;


--
-- Roles
--

CREATE ROLE postgres;
ALTER ROLE postgres WITH SUPERUSER INHERIT CREATEROLE CREATEDB LOGIN REPLICATION BYPASSRLS PASSWORD 'SCRAM-SHA-256$4096:AznKlOWLltGA3SBchl1u5g==$cdfdDyu+opVA72kgawr0sZ46/ISpyVolLGKUCwwzXgE=:n6rbR1127VmSs87y/9jhSHK3ubE3YHinuVXpFx7tpaQ=';

--
-- User Configurations
--








\unrestrict 46FjPcU3r28qbeIb21SL6qdiPPh0P8fJlNc3KYphsD2Z4M9Muxkjg263iNOWUfJ

--
-- Databases
--

--
-- Database "template1" dump
--

--
-- PostgreSQL database dump
--

\restrict ViUYy8upKpqjWqHKZP3wwPTYSJHaI9Wo9laULnCDtBxdRTjeeZg5b7KHjguSFNj

-- Dumped from database version 15.17 (Debian 15.17-1.pgdg13+1)
-- Dumped by pg_dump version 15.17 (Debian 15.17-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

UPDATE pg_catalog.pg_database SET datistemplate = false WHERE datname = 'template1';
DROP DATABASE template1;
--
-- Name: template1; Type: DATABASE; Schema: -; Owner: postgres
--

CREATE DATABASE template1 WITH TEMPLATE = template0 ENCODING = 'UTF8' LOCALE_PROVIDER = libc LOCALE = 'en_US.utf8';


ALTER DATABASE template1 OWNER TO postgres;

\unrestrict ViUYy8upKpqjWqHKZP3wwPTYSJHaI9Wo9laULnCDtBxdRTjeeZg5b7KHjguSFNj
\connect template1
\restrict ViUYy8upKpqjWqHKZP3wwPTYSJHaI9Wo9laULnCDtBxdRTjeeZg5b7KHjguSFNj

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: DATABASE template1; Type: COMMENT; Schema: -; Owner: postgres
--

COMMENT ON DATABASE template1 IS 'default template for new databases';


--
-- Name: template1; Type: DATABASE PROPERTIES; Schema: -; Owner: postgres
--

ALTER DATABASE template1 IS_TEMPLATE = true;


\unrestrict ViUYy8upKpqjWqHKZP3wwPTYSJHaI9Wo9laULnCDtBxdRTjeeZg5b7KHjguSFNj
\connect template1
\restrict ViUYy8upKpqjWqHKZP3wwPTYSJHaI9Wo9laULnCDtBxdRTjeeZg5b7KHjguSFNj

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: DATABASE template1; Type: ACL; Schema: -; Owner: postgres
--

REVOKE CONNECT,TEMPORARY ON DATABASE template1 FROM PUBLIC;
GRANT CONNECT ON DATABASE template1 TO PUBLIC;


--
-- PostgreSQL database dump complete
--

\unrestrict ViUYy8upKpqjWqHKZP3wwPTYSJHaI9Wo9laULnCDtBxdRTjeeZg5b7KHjguSFNj

--
-- Database "etap_final_db" dump
--

--
-- PostgreSQL database dump
--

\restrict 7P9jXWpdmG7gDfMocOY5WuRLth5bya0Aewegi6q7azsjKWIqwhBgnhWhrM7mcDE

-- Dumped from database version 15.17 (Debian 15.17-1.pgdg13+1)
-- Dumped by pg_dump version 15.17 (Debian 15.17-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: etap_final_db; Type: DATABASE; Schema: -; Owner: postgres
--

CREATE DATABASE etap_final_db WITH TEMPLATE = template0 ENCODING = 'UTF8' LOCALE_PROVIDER = libc LOCALE = 'en_US.utf8';


ALTER DATABASE etap_final_db OWNER TO postgres;

\unrestrict 7P9jXWpdmG7gDfMocOY5WuRLth5bya0Aewegi6q7azsjKWIqwhBgnhWhrM7mcDE
\connect etap_final_db
\restrict 7P9jXWpdmG7gDfMocOY5WuRLth5bya0Aewegi6q7azsjKWIqwhBgnhWhrM7mcDE

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: alembic_version; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.alembic_version (
    version_num character varying(32) NOT NULL
);


ALTER TABLE public.alembic_version OWNER TO postgres;

--
-- Name: approvals; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.approvals (
    id uuid NOT NULL,
    job_id uuid NOT NULL,
    status character varying(50) NOT NULL,
    reason text NOT NULL,
    requested_at timestamp without time zone NOT NULL,
    resolved_at timestamp without time zone,
    resolved_by_name character varying(255),
    resolution_comment text,
    resolved_by_user_id uuid
);


ALTER TABLE public.approvals OWNER TO postgres;

--
-- Name: commands; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.commands (
    id uuid NOT NULL,
    raw_text text NOT NULL,
    source character varying(50) NOT NULL,
    status character varying(50) NOT NULL,
    created_at timestamp without time zone NOT NULL
);


ALTER TABLE public.commands OWNER TO postgres;

--
-- Name: execution_logs; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.execution_logs (
    id bigint NOT NULL,
    job_id uuid NOT NULL,
    job_step_id uuid,
    level character varying(20) NOT NULL,
    message text NOT NULL,
    details_json jsonb,
    created_at timestamp without time zone NOT NULL
);


ALTER TABLE public.execution_logs OWNER TO postgres;

--
-- Name: execution_logs_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.execution_logs_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.execution_logs_id_seq OWNER TO postgres;

--
-- Name: execution_logs_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.execution_logs_id_seq OWNED BY public.execution_logs.id;


--
-- Name: intent_predictions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.intent_predictions (
    id uuid NOT NULL,
    command_id uuid NOT NULL,
    intent_name character varying(100) NOT NULL,
    confidence numeric(5,4) NOT NULL,
    normalized_text text NOT NULL,
    entities_json jsonb NOT NULL,
    risk_level character varying(50) NOT NULL,
    plan_json jsonb NOT NULL,
    created_at timestamp without time zone NOT NULL
);


ALTER TABLE public.intent_predictions OWNER TO postgres;

--
-- Name: job_results; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.job_results (
    id uuid NOT NULL,
    job_id uuid NOT NULL,
    success boolean NOT NULL,
    summary text,
    result_json jsonb,
    created_at timestamp without time zone NOT NULL
);


ALTER TABLE public.job_results OWNER TO postgres;

--
-- Name: job_steps; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.job_steps (
    id uuid NOT NULL,
    job_id uuid NOT NULL,
    step_order integer NOT NULL,
    name character varying(255) NOT NULL,
    step_type character varying(100) NOT NULL,
    connector_type character varying(100),
    input_json jsonb NOT NULL,
    status character varying(50) NOT NULL,
    created_at timestamp without time zone NOT NULL,
    started_at timestamp without time zone,
    finished_at timestamp without time zone
);


ALTER TABLE public.job_steps OWNER TO postgres;

--
-- Name: jobs; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.jobs (
    id uuid NOT NULL,
    command_id uuid NOT NULL,
    status character varying(50) NOT NULL,
    intent_name character varying(100) NOT NULL,
    risk_level character varying(50) NOT NULL,
    created_at timestamp without time zone NOT NULL,
    started_at timestamp without time zone,
    finished_at timestamp without time zone
);


ALTER TABLE public.jobs OWNER TO postgres;

--
-- Name: roles; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.roles (
    id uuid NOT NULL,
    name character varying(50) NOT NULL,
    description character varying(255),
    created_at timestamp without time zone NOT NULL
);


ALTER TABLE public.roles OWNER TO postgres;

--
-- Name: scheduled_tasks; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.scheduled_tasks (
    id uuid NOT NULL,
    name character varying(255) NOT NULL,
    description text,
    command_text text NOT NULL,
    cron_expression character varying(100) NOT NULL,
    timezone character varying(100) NOT NULL,
    is_active boolean NOT NULL,
    auto_enqueue boolean NOT NULL,
    last_run_at timestamp without time zone,
    next_run_at timestamp without time zone NOT NULL,
    created_at timestamp without time zone NOT NULL,
    updated_at timestamp without time zone NOT NULL
);


ALTER TABLE public.scheduled_tasks OWNER TO postgres;

--
-- Name: users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users (
    id uuid NOT NULL,
    email character varying(255) NOT NULL,
    password_hash character varying(255) NOT NULL,
    full_name character varying(255) NOT NULL,
    is_active boolean NOT NULL,
    role_id uuid NOT NULL,
    created_at timestamp without time zone NOT NULL,
    updated_at timestamp without time zone NOT NULL
);


ALTER TABLE public.users OWNER TO postgres;

--
-- Name: execution_logs id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.execution_logs ALTER COLUMN id SET DEFAULT nextval('public.execution_logs_id_seq'::regclass);


--
-- Data for Name: alembic_version; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.alembic_version (version_num) FROM stdin;
3b6f42683319
\.


--
-- Data for Name: approvals; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.approvals (id, job_id, status, reason, requested_at, resolved_at, resolved_by_name, resolution_comment, resolved_by_user_id) FROM stdin;
11111111-1111-1111-1111-111111111111	6c508bc8-f4ac-4755-b5cb-01fb6f844aef	approved	Revision manual requerida por el sistema	2026-03-29 03:37:46.900717	2026-03-29 03:52:04.683699	Administrador ETAP	Aprobado para continuar	5b7fc984-6000-4715-b034-38d1bf102810
\.


--
-- Data for Name: commands; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.commands (id, raw_text, source, status, created_at) FROM stdin;
d4d12a2b-73ad-4421-8045-fd24603f8166	Inicia el lavado de los filtros de arena	web_ui	ready_to_execute	2026-03-29 03:21:01.128755
0236f483-86b8-485c-8a3c-63cb1fa7688e	DETENER TODAS LAS BOMBAS DE AGUA INMEDIATAMENTE - EMERGENCIA	web_ui	ready_to_execute	2026-03-29 03:35:23.89575
\.


--
-- Data for Name: execution_logs; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.execution_logs (id, job_id, job_step_id, level, message, details_json, created_at) FROM stdin;
1	6c508bc8-f4ac-4755-b5cb-01fb6f844aef	\N	INFO	Approval approved	{"approval_id": "11111111-1111-1111-1111-111111111111", "resolved_by_name": "Administrador ETAP", "resolution_comment": "Aprobado para continuar", "resolved_by_user_id": "5b7fc984-6000-4715-b034-38d1bf102810"}	2026-03-29 03:52:04.695459
2	6c508bc8-f4ac-4755-b5cb-01fb6f844aef	\N	INFO	Job queued for async execution	{"job_status": "queued"}	2026-03-31 12:47:20.893801
\.


--
-- Data for Name: intent_predictions; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: job_results; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.job_results (id, job_id, success, summary, result_json, created_at) FROM stdin;
\.


--
-- Data for Name: job_steps; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.job_steps (id, job_id, step_order, name, step_type, connector_type, input_json, status, created_at, started_at, finished_at) FROM stdin;
9457f42b-500b-416b-95a8-3685913b87f6	b43f86f5-4597-41ab-866e-8b680c18a529	1	Mark for manual review	mark_for_manual_review	\N	{}	pending	2026-03-29 03:21:01.150918	\N	\N
5a4d2ee9-f9c4-4772-9f68-d123eaebce0d	6c508bc8-f4ac-4755-b5cb-01fb6f844aef	1	Mark for manual review	mark_for_manual_review	\N	{}	pending	2026-03-29 03:35:23.906077	\N	\N
\.


--
-- Data for Name: jobs; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.jobs (id, command_id, status, intent_name, risk_level, created_at, started_at, finished_at) FROM stdin;
b43f86f5-4597-41ab-866e-8b680c18a529	d4d12a2b-73ad-4421-8045-fd24603f8166	ready_to_execute	unknown	unknown	2026-03-29 03:21:01.147656	\N	\N
6c508bc8-f4ac-4755-b5cb-01fb6f844aef	0236f483-86b8-485c-8a3c-63cb1fa7688e	queued	unknown	unknown	2026-03-29 03:35:23.903942	\N	\N
\.


--
-- Data for Name: roles; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.roles (id, name, description, created_at) FROM stdin;
6dd3dc07-a812-43b5-8edb-251a1fc17a2a	admin	Acceso total al sistema	2026-03-29 01:45:36.25767
455b7e4c-4911-4889-a954-cdcbef63c08b	operator	Puede operar jobs pero no administrar seguridad	2026-03-29 01:45:36.257679
fb5fa538-f5b8-466e-92ad-21f39eb6b275	viewer	Solo lectura	2026-03-29 01:45:36.257682
\.


--
-- Data for Name: scheduled_tasks; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.scheduled_tasks (id, name, description, command_text, cron_expression, timezone, is_active, auto_enqueue, last_run_at, next_run_at, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: execution_logs_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.execution_logs_id_seq', 2, true);


--
-- Name: alembic_version alembic_version_pkc; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.alembic_version
    ADD CONSTRAINT alembic_version_pkc PRIMARY KEY (version_num);


--
-- Name: approvals approvals_job_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.approvals
    ADD CONSTRAINT approvals_job_id_key UNIQUE (job_id);


--
-- Name: approvals approvals_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.approvals
    ADD CONSTRAINT approvals_pkey PRIMARY KEY (id);


--
-- Name: commands commands_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.commands
    ADD CONSTRAINT commands_pkey PRIMARY KEY (id);


--
-- Name: execution_logs execution_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.execution_logs
    ADD CONSTRAINT execution_logs_pkey PRIMARY KEY (id);


--
-- Name: intent_predictions intent_predictions_command_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.intent_predictions
    ADD CONSTRAINT intent_predictions_command_id_key UNIQUE (command_id);


--
-- Name: intent_predictions intent_predictions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.intent_predictions
    ADD CONSTRAINT intent_predictions_pkey PRIMARY KEY (id);


--
-- Name: job_results job_results_job_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.job_results
    ADD CONSTRAINT job_results_job_id_key UNIQUE (job_id);


--
-- Name: job_results job_results_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.job_results
    ADD CONSTRAINT job_results_pkey PRIMARY KEY (id);


--
-- Name: job_steps job_steps_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.job_steps
    ADD CONSTRAINT job_steps_pkey PRIMARY KEY (id);


--
-- Name: jobs jobs_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.jobs
    ADD CONSTRAINT jobs_pkey PRIMARY KEY (id);


--
-- Name: roles roles_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.roles
    ADD CONSTRAINT roles_name_key UNIQUE (name);


--
-- Name: roles roles_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.roles
    ADD CONSTRAINT roles_pkey PRIMARY KEY (id);


--
-- Name: scheduled_tasks scheduled_tasks_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.scheduled_tasks
    ADD CONSTRAINT scheduled_tasks_pkey PRIMARY KEY (id);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: ix_users_email; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX ix_users_email ON public.users USING btree (email);


--
-- Name: approvals approvals_job_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.approvals
    ADD CONSTRAINT approvals_job_id_fkey FOREIGN KEY (job_id) REFERENCES public.jobs(id) ON DELETE CASCADE;


--
-- Name: approvals approvals_resolved_by_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.approvals
    ADD CONSTRAINT approvals_resolved_by_user_id_fkey FOREIGN KEY (resolved_by_user_id) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: execution_logs execution_logs_job_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.execution_logs
    ADD CONSTRAINT execution_logs_job_id_fkey FOREIGN KEY (job_id) REFERENCES public.jobs(id) ON DELETE CASCADE;


--
-- Name: execution_logs execution_logs_job_step_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.execution_logs
    ADD CONSTRAINT execution_logs_job_step_id_fkey FOREIGN KEY (job_step_id) REFERENCES public.job_steps(id) ON DELETE CASCADE;


--
-- Name: intent_predictions intent_predictions_command_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.intent_predictions
    ADD CONSTRAINT intent_predictions_command_id_fkey FOREIGN KEY (command_id) REFERENCES public.commands(id) ON DELETE CASCADE;


--
-- Name: job_results job_results_job_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.job_results
    ADD CONSTRAINT job_results_job_id_fkey FOREIGN KEY (job_id) REFERENCES public.jobs(id) ON DELETE CASCADE;


--
-- Name: job_steps job_steps_job_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.job_steps
    ADD CONSTRAINT job_steps_job_id_fkey FOREIGN KEY (job_id) REFERENCES public.jobs(id) ON DELETE CASCADE;


--
-- Name: jobs jobs_command_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.jobs
    ADD CONSTRAINT jobs_command_id_fkey FOREIGN KEY (command_id) REFERENCES public.commands(id) ON DELETE CASCADE;


--
-- Name: users users_role_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_role_id_fkey FOREIGN KEY (role_id) REFERENCES public.roles(id) ON DELETE RESTRICT;


--
-- PostgreSQL database dump complete
--

\unrestrict 7P9jXWpdmG7gDfMocOY5WuRLth5bya0Aewegi6q7azsjKWIqwhBgnhWhrM7mcDE

--
-- Database "postgres" dump
--

--
-- PostgreSQL database dump
--

\restrict eD9QMFQnz20cwGL5GLxjmPgFBoSqoKOMjG8otiNYxqeMXo8LraDzxUCpipR9Ssj

-- Dumped from database version 15.17 (Debian 15.17-1.pgdg13+1)
-- Dumped by pg_dump version 15.17 (Debian 15.17-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

DROP DATABASE postgres;
--
-- Name: postgres; Type: DATABASE; Schema: -; Owner: postgres
--

CREATE DATABASE postgres WITH TEMPLATE = template0 ENCODING = 'UTF8' LOCALE_PROVIDER = libc LOCALE = 'en_US.utf8';


ALTER DATABASE postgres OWNER TO postgres;

\unrestrict eD9QMFQnz20cwGL5GLxjmPgFBoSqoKOMjG8otiNYxqeMXo8LraDzxUCpipR9Ssj
\connect postgres
\restrict eD9QMFQnz20cwGL5GLxjmPgFBoSqoKOMjG8otiNYxqeMXo8LraDzxUCpipR9Ssj

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: DATABASE postgres; Type: COMMENT; Schema: -; Owner: postgres
--

COMMENT ON DATABASE postgres IS 'default administrative connection database';


--
-- PostgreSQL database dump complete
--

\unrestrict eD9QMFQnz20cwGL5GLxjmPgFBoSqoKOMjG8otiNYxqeMXo8LraDzxUCpipR9Ssj

--
-- PostgreSQL database cluster dump complete
--

